html, body {
    height: 100%;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
  }
  
  body  {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: bisque;
  }

  .home-button {
    padding: 4px 6px 4px 6px;
    border: blueviolet 2px solid;
    border-radius: 15px;
    margin: 6px 0px -8px 25px;
    text-decoration: none;
  }

  .monthLink:hover {
    background-color: #da8bcf;
  }

  .home-button:hover {
    background-color: yellow;
  }
  
  .header {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
  }
  
  .entry {
    margin-left: 25px;
  }
  
  .entry-title {
    margin-bottom: -12px;
    font-size: 125%;
    font-weight: 600;
  }
  
  .date {
    color: grey;
    font-weight: 200;
    font-style: italic;
  }
  